body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #E0FFFF;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

input, button {
    background-color: white;
    border-radius: 12px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 20px;
}

.botoesFunctions {
    flex-direction : row;
    margin: 10px;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 30px;
}
.input-group {

    margin: 5px;
}
table{
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    

}
td {
    border: 1px solid #000000;
}
